:root {
  --blend: 0.5;
  --dark-red: 100;
  --dark-blue: 100;
  --dark-green: 80;
  --light: 255;
  --percent: 80%;  
  --blue-bg: #73A0D0;

  --first-bg: #FFFFFF;
  --second-bg: #0D1117;
  --third-bg: #1D1E2C;

  --accent-bg-1: #2A7F62;
  --accent-bg-2: #9B1D20;
  --accent-bg-3: #2C497F;
  --accent-bg-4: #E08E45;
}

.bg-gradient {
  background:
    radial-gradient(circle at 50% 0,
      rgba(var(--dark-red), 0, 0, var(--blend)),
      rgba(var(--dark-red), 0 ,0, 0) var(--percent)),
    radial-gradient(circle at 6.7% 75%,
      rgba(0, var(--dark-green), 0, var(--blend)),
      rgba(0, var(--dark-green), 0, 0) var(--percent)),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 0, var(--dark-blue), var(--blend)),
      rgba(0, 0, var(--dark-blue), 0) var(--percent)),
        linear-gradient(#000, #000);
}

.bg-gradient-moving {
  animation: move-bg 30s linear infinite;
  transition: background 2s linear;
}
          
.text-gradient  {
  background:
    radial-gradient(circle at 50% 0,
      rgba(0, var(--light), 0, var(--blend)),
      rgba(0, var(--light), 0, 0) var(--percent)),
    radial-gradient(circle at 6.7% 75%,
      rgba(var(--light), 0, 0, var(--blend)),
      rgba(var(--light), 0 ,0, 0) var(--percent)),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 0, var(--light), var(--blend)),
      rgba(0, 0, var(--light), 0) var(--percent)),
        linear-gradient(#000, #000);
        
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.blue-bg {
  background: var(--blue-bg);
}

.first-bg {
  background: var(--first-bg);
}

.second-bg {
  background: var(--second-bg);
}

.third-bg {
  background: var(--third-bg);
}
          
* {
  font-family: 'Fira Sans';
}

.feature-box {
  height: 100%;
}

.column > .feature-box {
  animation: feature-color 64s linear infinite;
}

.column:nth-child(1) > .feature-box {
  animation-delay: -60s;
}

.column:nth-child(2) > .feature-box {
  animation-delay: -24s;
}

.column:nth-child(3) > .feature-box {
  animation-delay: -4s;
}

.column:nth-child(4) > .feature-box {
  animation-delay: -36s;
}

.column:nth-child(5) > .feature-box {
  animation-delay: -48s;
}

.column:nth-child(6) > .feature-box {
  animation-delay: -40s;
}

.column:nth-child(7) > .feature-box {
  animation-delay: -16s;
}

.column:nth-child(8) > .feature-box {
  animation-delay: -12s;
}

@keyframes feature-color {
  0% {
    background-color: var(--accent-bg-1);
  }
  23% {
    background-color: var(--accent-bg-1);
  }
  25% {
    background-color: var(--accent-bg-2);
  }
  48% {
    background-color: var(--accent-bg-2);
  }
  50% {
    background-color: var(--accent-bg-3);
  }
  73% {
    background-color: var(--accent-bg-3);
  }
  75% {
    background-color: var(--accent-bg-4);
  }
  98% {
    background-color: var(--accent-bg-4);
  }
  100% {
    background-color: var(--accent-bg-1);
  }
};
