:root {
  --blend: 0.5;
  --dark-red: 106;
  --dark-blue: 105;
  --dark-green: 85;
  --light: 255;
  --percent: 80%;  
  --blue-bg: #73A0D0;

  --first-bg: #0D1117;
  --second-bg: #FFFFFF;
  --third-bg: #1D1E2C;

  --accent-bg-1: #2A7F62;
  --accent-bg-2: #9B1D20;
  --accent-bg-3: #2C497F;
  --accent-bg-4: #E08E45;
}

.bg-gradient {
  background:
    radial-gradient(circle at 50% 0,
      rgba(var(--dark-red), 0, 0, var(--blend)),
      rgba(var(--dark-red), 0 ,0, 0) var(--percent)),
    radial-gradient(circle at 6.7% 75%,
      rgba(0, var(--dark-green), 0, var(--blend)),
      rgba(0, var(--dark-green), 0, 0) var(--percent)),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 0, var(--dark-blue), var(--blend)),
      rgba(0, 0, var(--dark-blue), 0) var(--percent)),
        linear-gradient(#000, #000);
}

.bg-gradient-moving {
  animation: move-bg 30s linear infinite;
  transition: background 2s linear;
}
          
.text-gradient  {
  background:
    radial-gradient(circle at 50% 0,
      rgba(0, var(--light), 0, var(--blend)),
      rgba(0, var(--light), 0, 0) var(--percent)),
    radial-gradient(circle at 6.7% 75%,
      rgba(var(--light), 0, 0, var(--blend)),
      rgba(var(--light), 0 ,0, 0) var(--percent)),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 0, var(--light), var(--blend)),
      rgba(0, 0, var(--light), 0) var(--percent)),
        linear-gradient(#000, #000);
        
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.blue-bg {
  background: var(--blue-bg);
}

.first-bg {
  background: var(--first-bg);
}

.second-bg {
  background: var(--second-bg);
}

.third-bg {
  background: var(--third-bg);
}
          
* {
  font-family: 'Fira Sans';
}

.feature-box {
  height: 100%;
  background-color: transparent;
  text-align: left;
}

.spinner-img a {
  display: contents;
}

.spinner-img img {
  height: 6rem;
  z-index: 10;
  object-fit: contain;
}
