.container-40rem {
  position: relative;

  width: 80%;
  max-width: 40rem;
  aspect-ratio: 1;
  overflow: hidden;
}

.img-spinner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: rotate 7s linear infinite;
}

.img-spinner:hover {
  animation-play-state: paused;
}

.img-spinner:hover img {
  animation-play-state: paused;
}

.img-spinner > .spinner-img {
  position: absolute;
  
  width: 25%;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  
  background-color: var(--first-bg); 
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-img a {
  display: contents;
}

.spinner-img img {
  width: 82%;
  z-index: 10;
  animation: rotate 7s linear infinite reverse;
}

.img-spinner > #rust-img {
  top: 0%;
  left: 37.5%;
}

.img-spinner > #gtk-img {
  top: 56.25%;
  left: 69.98%;
}

.img-spinner > #gtk-rs-img {
  top: 56.25%;
  left: 5.02%;
}

.center-rings {
  position: absolute;
  aspect-ratio: 1;
  
  border-radius: 100%;
  border: solid 0.5rem transparent;
  animation: pulse 5s linear infinite;
  background: #FFF;
  background-clip: content-box;
  
  outline: 1px solid white;
}

.center-bg {
  position: absolute;
  aspect-ratio: 1;
  
  border-radius: 100%;
  animation: rotate 16s linear infinite reverse;
  animation-delay: none !important;
  border: 2px solid white;
  background-clip: content-box;
  
  background:
    radial-gradient(circle at 50% 0,
      rgba(0, var(--light), 0, var(--blend)),
      rgba(0, var(--light), 0, 0) var(--percent)),
    radial-gradient(circle at 6.7% 75%,
      rgba(var(--light), 0, 0, var(--blend)),
      rgba(var(--light), 0 ,0, 0) var(--percent)),
    radial-gradient(circle at 93.3% 75%,
      rgba(0, 0, var(--light), var(--blend)),
      rgba(0, 0, var(--light), 0) var(--percent)),
        linear-gradient(#000, #000);
}

.center-rings:nth-child(2),
.center-bg:nth-child(1) {
  width: 77%;
  
  top: 11.5%; 
  right: 11.5%; 
  
  animation-delay: 520ms;
}

.container-40rem:hover .center-rings:nth-child(n+3) {
  border-width: 0 !important;
}

.center-rings:nth-child(2) {
  animation: none;
  border-width: 0.7rem;
}

.center-rings:nth-child(4),
.center-bg:nth-child(3) {
  width: 50%;
  
  top: 25%; 
  right: 25%; 
  
  animation-delay: 600ms;
}

.center-rings:nth-child(6),
.center-bg:nth-child(5) {
  width: 37%;
  
  top: 31.5%; 
  right: 31.5%; 
  
  animation-delay: 400ms;
}

.center-rings:nth-child(8),
.center-bg:nth-child(7) {
  width: 26%;
  
  top: 37%; 
  right: 37%; 
  
  animation-delay: 250ms;
}

.center-rings:nth-child(5) {
  width: 14%;
  
  top: 43%; 
  right: 43%; 
  
  animation-delay: 100ms;
}

.center-text {
  position: absolute;
  display: flex;
  width: 100%;  
  height: 100%;  
  z-index: 1;
  
  text-align: center;
  vertical-align: center;
  padding: 30%;
  
  justify-content: center;
  align-items: center;
  
  animation: rotate 7s linear infinite reverse;
  
  opacity: 0;
}

.img-spinner:hover .center-text {
  animation-play-state: paused;
}

#rust-img:hover ~ #rust-text {
  opacity: 1 !important;
}

#gtk-img:hover ~ #gtk-text {
  opacity: 1;
}

#gtk-rs-img:hover ~ #gtk-rs-text {
  opacity: 1;
}
